/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   FONTS - http://www.fontsquirrel.com/
   ========================================================================== */

@font-face {
    font-family: 'CantarellRegular';
    src: url('fonts/Cantarell-Regular-webfont.eot');
    src: url('fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cantarell-Regular-webfont.woff') format('woff'),
         url('fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('fonts/Cantarell-Regular-webfont.svg#CantarellRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CantarellOblique';
    src: url('Cantarell-Oblique-webfont.eot');
    src: url('Cantarell-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cantarell-Oblique-webfont.woff') format('woff'),
         url('Cantarell-Oblique-webfont.ttf') format('truetype'),
         url('Cantarell-Oblique-webfont.svg#CantarellOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CantarellBold';
    src: url('Cantarell-Bold-webfont.eot');
    src: url('Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cantarell-Bold-webfont.woff') format('woff'),
         url('Cantarell-Bold-webfont.ttf') format('truetype'),
         url('Cantarell-Bold-webfont.svg#CantarellBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CantarellBoldOblique';
    src: url('Cantarell-BoldOblique-webfont.eot');
    src: url('Cantarell-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cantarell-BoldOblique-webfont.woff') format('woff'),
         url('Cantarell-BoldOblique-webfont.ttf') format('truetype'),
         url('Cantarell-BoldOblique-webfont.svg#CantarellBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'CantarellRegular', Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

#sticky {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-container {
    background-color: #eeeeee; 
    border-top: 0px solid #333333;
    border-bottom: solid 1px #e1e1e1;
}

.footer-container {
    border-top: 0px solid #e44d26;
}

header {
    width: 100%;
    background-color: #eeeeee;
    margin: 0 auto; 
} 

header .title {
    display:block;
    font-size: 0;
    padding-top: 5px;
}

header .title a {
 display:block;
 width: 350px; 
 height: 110px;  
 background: url(../img/logo.png) no-repeat top left; 
 text-indent: -9999px;
 
}

/* ==============
    MOBILE: Menu
   ============== */
nav {

}

nav ul {
    margin: 0;
    padding: 0;

}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #373737;
    font-style: italic;
    font-weight: bold; 
}

nav a:hover {
    color: #5bb52d;

}

/* ==============
    MOBILE: Main
   ============== */
#mainData {
    background-color: white;
    padding: 20px 0;
     border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
}

#mainDataArticle {
    width: 100%;
    margin: 0 auto;
}

.textBlock {
    width: 400px;
    height: 60px;
    margin: 0 auto; 
    padding-bottom: 30px;
}

.textBlock h1 {
    font-size: 3em;
    line-height: 1.2em;
    color: #373737;
    margin: 0 auto;
    vertical-align: middle;
}

.steps {
    width: 100%;   
    margin: 0 auto;
    text-align: center;
}

.steps h2 {
    text-align: left;
    display: block;
    margin: 0 auto;
    color: #787878;
    line-height: 1.2em;
    padding-left: 12%;
    padding-bottom: 2%;
}

.steps h2 img {
    padding-right: 2%;
}

.steps span {
color: #5bb52d;
}

.steps ul {
    display: block;   
}

.steps ul li {
    list-style-type: none;
    display: inline-block;
}

.steps ul li img{
    width: 60%;
}

.steps ul li a{
text-decoration: none; 
}

.browserImage {
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 3%;
    padding-left: 3%;
}

#aboutData {
    background-color: #f4f4f4;
    padding: 20px 0;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
}

#aboutDataArticle1 {
    width: 100%;
    margin: 0 auto;
}

#aboutDataArticle1 .textBlock {
    width: 500px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

#aboutDataArticle2 {
    width: 100%;
    margin: 0 auto;
}

#imageBox {
    float: left;
    width: 53%;
    margin-left: 1%;
}

#imageBox img {
    min-width: 300px;
    max-width: 100%;
    margin: 0 auto;
}

#aboutDataArticle2 h3 {
    display: block;
    float: right;
    width: 45%;
    margin-right: 1%;
    color: #787878;
    font-size: 1.25em;
    line-height: 1.35em;
    text-align: justify;
    margin-top: 09px;
}

#aboutDataArticle2 span {
    color: #5bb52d;
}

.startSurfText {
    max-width: 85%;
    min-width: 600px;

}

#affiliateData {
    background-color: white;
    padding: 20px 0;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
}

#affiliateDataArticle {
    width: 100%;
    margin: 0 auto;
}

#affiliateDataArticle .textBlock {
    width: 500px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

#affiliateDataArticle h2 {
    text-align: left;
    display: block;
    width: 90%;
    margin: 0 auto;
    color: #787878;
    font-size: 1.29em;
    line-height: 1.7em;
    padding-bottom: 2%;
    margin-bottom: 20px;
}

.affiliateSection img {
    display: block;
    margin: 0 auto;
     margin-bottom: 20px;
}

#footerData {
    background-color: #373737;
    padding-top: 5px;
}

footer {
    width: 100%;
    margin: 0 auto;
    font-size: 0.7em;
} 

#footerData .leftFooter {
float: left;
}

#footerData .leftFooter ul li {
    list-style-type: none;
    display: inline-block;

}

#footerData .leftFooter ul li a {
    text-decoration: none; 
    color: white;
    margin-right: 30px;
}

#footerData .rightFooter {
float: right;
color: white;
}




/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.banner-container {
    background-color: #fafafa;
    background: url(../img/bannerBackground1.jpg) no-repeat top center; 
}

#banner {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;  
    padding-bottom: 10px;
}

.bannerImage {
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    opacity: 0.99;
}

.bannerImage img {
    display: block;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 70px;
    max-width: 100%;
    min-width: 330px;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 25%;
        margin: 0 5%;
        
    }

    nav li:first-child a {
        margin-left: 20px;
    }

    nav li:last-child a {
        margin-right: 0;
        padding-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
        position:relative;      
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
        
    }

    nav {
        float: right;
        width: 46%;
        padding-top: 85px;
        font-size: 1.3em;
    }

/* ============
    WIDE: Main
   ============ */


}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}