
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
     
.clearfix { display: inline-block; }
/* start commented backslash hack \*/

* html .clearfix { height: 1%; }

.clearfix { display: block; }

/* close commented backslash hack */

@media screen and (max-width:1095px) {
   
    aside#pic-bar { display:none; }
  }
  
@media screen and (max-width:1095px) {
   
    #info { display:none; }
  }

body {
	font-family:  arial;
	font-size: 1em;
	width: 100%;
}

aside#pic-bar { 
			width: 25%;
			height: 100%;
			max-width: 20em;
			position: fixed;
			margin-left: 0.2em;
			margin-top: 0.5em;
			z-index: 10000;
			/*background-color: green;*/
}			


aside#pic-bar ul li {
					float: left;
}

aside#pic-bar img {
				width: 100%;
				height: 100%;				
}

.f1_container {
			position: relative;
			margin: 0.124em;
			width: 5.14em;
			height: 3.59em;
			z-index: 1;
			
			-webkit-perspective: 1000px;
			-moz-perspective: 1000px;
			-o-perspective: 1000px;
			-ms-perspective: 1000px;
			perspective: 1000px;			
}

.face.back {
		display: none;
}
				
.face {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

#info h1 {
	position: fixed;
	top: 2%;
	width: 1000%;
	left: 96%;
	letter-spacing: 0.18em;
	z-index: 1000;
	-webkit-transform: rotate(90deg) translateX(20px); 
    -moz-transform:    rotate(90deg) translateX(20px);
    -ms-transform:     rotate(90deg) translateX(20px);
    -o-transform:      rotate(90deg) translateX(20px); 
    transform:         rotate(90deg) translateX(20px); 
    
    filter: progid:DXImageTransform.Microsoft.Matrix( /* IE6–IE9 */
    M11=6.123031769111886e-17, M12=-1, M21=1, M22=6.123031769111886e-17, sizingMethod='auto expand');
    zoom: 1;
    
   -webkit-transform-origin:  1.8em .5em;
    -moz-transform-origin:    1.8em .5em;
    -ms-transform-origin:     1.8em .5em;
    -o-transform-origin:      1.8em .5em;
    transform-origin:         1.8em .5em;
    
    font-family: arial;
	font-size: 0.8em;
	color: #5c5c5c;	
}
    
span {
		display: inline;
		color: #cc0000;
		padding-right: 6px;
		padding-left: 6px;
}

#content {
		width: 85%;
		margin: 0 auto;
/*		background-color: yellow;*/
		
}

header {	
	width: 100%;
}

nav#home-nav {
			position: fixed;
			width: 75%;
			right: 12%;
			padding-top: 0.4em;
			padding-bottom: 7em;
			background-color: white;
			z-index: 100;
/*			background-color: green;*/
}

nav#home-nav a {
				display:block;
				float:right;
				padding-top: 0em;
				padding-bottom: 0.2em;
				padding-left: 0.2em;
				padding-right: 0.1em;
				margin-right: 0.5em;
				margin-left: 0.5em;
				list-style: none;
				text-decoration: none;
				font-family: arial;
				font-size: 1.8em;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #5c5c5c;	
				
}

#home-nav a:hover {
					color: #919191;
					
					
}


nav#home-nav .current a {
		background-color: #595959;
		color: white;
}

#home-nav li:after {
				content: "+ ";
				float:right;
				padding-top: 0.3em;
				margin-right: 5%;
				margin-left: 5.5%;
				font-family: arial;
				font-size: 1.5em;
				color: #5c5c5c;
}

#home-nav li:last-child:after {
							content: none;
}

article#firm-logo {
			position: relative;
			left: 15%;
			width: 80%;
			padding-top: 35%;
/*			background-color: grey;*/
			
}
	
article#firm-logo img {
					float: right;
					width: 170px;
					padding-right: 4%;
					padding-bottom: 1.2em;
					
}
			
article#firm-logo p {
				display: block;
				float: right;
				width: 64%;
				padding-right: 3.4%;
				padding-top: 2%;
				font-family: arial;
				font-size: 1.153em;
				line-height: 1.5em;
				text-align: justify;
				color: #555555;
}

article#about {
			margin-left: 25%;
			margin-right: 8%;
			margin-top: 20%;
			padding-top: 1.5%;
			/*background-color: orange*/
}
	
article#about img {
					width: 32%;
					min-width: 230px;
					padding-top: 10.5em;
					padding-bottom: 0.5em;
					margin-left: 33%;
					/*background-color: green;*/
}
			
article#about p {
				display: block;
				margin-left: 15%;
				margin-right: 15%;
				font-family: arial;
				font-size: 1.05em;
				line-height: 1.5em;
				text-align: justify;
				color: #555555;		
}

article#team {
			position: relative;
			width: 70%;
			padding-top: 35%;
			left: 25%;
			margin-top: 30%;
			padding-top: 10em;
			/*background-color: green;*/
}

#team .team1 {
			float: left;
			margin-bottom: 6em;
}

ul.polaroids1 li{	
	float: left;
	width: 9em;
	margin-left: 3%;
	padding-right: 3%;
	padding-bottom: 1.2em;
}

ul.polaroids1 a {
	background: #fff;
	display: inline;
	float: left;
	padding: 10px 9px 10px 9px;
	text-align: center;
	font-family: arial;
	font-size: 1em;
	color: #555555;
	text-decoration: none;
	
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	box-shadow: 0 3px 6px rgba(0,0,0,.25);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#3F000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#3F000000');
	
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg); 
	
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

ul.polaroids1 a:after {content:attr(title);}

ul.polaroids1 img {
	width: 125px;
	padding-bottom: 5px;
}
	
#team p.text1 {
	display: block;	
	float: left;
	padding-top: 1%;
	padding-left: 0.5em;
	width: 69%;
	font-family: arial;
	font-size: 1.05em;
	line-height: 1.5em;
	text-align: justify;
	color: #555555;
}

#team .team2 {
			float: right;
			margin-bottom: 6em;
}

ul.polaroids2 li{	
	float: right;
	width: 9em;
	padding-left: 3%;
	padding-bottom: 1.2em;
	padding-right: 7%;
}

ul.polaroids2 a {
	background: #fff;
	display: inline;
	float: right;
	padding: 10px 9px 10px 9px;
	text-align: center;
	font-family: arial;
	font-size: 1em;
	color: #555555;
	text-decoration: none;
	
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	box-shadow: 0 3px 6px rgba(0,0,0,.25);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#3F000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#3F000000');
	
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg); 
	
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

ul.polaroids2 a:after {content:attr(title);}

ul.polaroids2 img {
	width: 125px;
	padding-bottom: 5px;
}

#team p.text2 {
	display: block;	
	float: right;
	width: 67.5%;
	padding-top: 1%;
	font-family: arial;
	font-size: 1.05em;
	line-height: 1.5em;
	text-align: justify;
	color: #555555;
}


article#contact {
			position: relative;
			left: 28%;
			width: 64%;
			margin-top: 20em;
			padding-top: 7em;
			/*background-color: pink;*/			
}
	
article#contact img {
					float: left;
					max-width: 25%;
					min-width: 175px;
					padding-left: 2em;
}
			
article#contact p {
				display: block;
				width: 82%;
				padding-top: 5%;
				font-family: arial;
				font-size: 1.1em;
				line-height: 1.5em;
				text-align: right;
				color: #555555;
}

article#contact a {
					display: block;
					padding-right: 0.2em;
					text-decoration: none;
					color: #cc0000;
}

article#contact .fax {
					padding-left: 0.7em;
}

footer#site-footer {
			display: block;
			position: relative;
			left: 22%;
			margin-top: 15em;
			width: 71%;
			border-top: 1px solid rgba(130,130,130,1);
}

footer#site-footer .copy-side {
							float:left
}

footer#site-footer .designer-side {
							float:right							
}



footer#site-footer p {
				display: block;
				padding-top: 0.2%;
				font-family: arial;
				font-size: 0.7em;
				line-height: 1.5em;
				text-align: justify;
				color: #555555;
}

footer#site-footer span {
						display: inline-block;
						color: #cc0000;
}

#site-footer a {
							text-decoration: none;
							color: #cc0000;
}






