
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	width:100%;
}

header {
	width:100%;
	overflow:none;
	/*padding:10% 10%;*/
	/*background-color:blue;*/
}

aside#pic-bar { 
			width:29%;
			/*background-color:orange;*/
			float:left;
			margin-top:0.3em;
}		

.clear {
	clear:left;
}

aside#pic-bar ul li {
					width:90px;
					height:65px;
					margin:0.125em;
					/*background-color: black;*/
					float:left;
}

.shadow {
		-webkit-box-shadow: 0.5px 0.5px 0.5px #aaa;
		-moz-box-shadow: 10px 10px 10px #aaa;
		box-shadow: 1px 1px 1px #aaa;
} 

.f1_container {
			position: relative;
			width: 90px;
			height: 65px;
			z-index: 1;
}

.face.back {
		display: none;
}

.f1_container {
			-webkit-perspective: 1000;
}
				
.f1_card {
		width: 100%;
		height: 100%;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: all 0.2s linear;
		-moz-transform-style: preserve-3d;
		-moz-transition: all 0.5s linear;
		-o-transform-style: preserve-3d;
		-o-transition: all 0.5s linear;
		-ms-transform-style: preserve-3d;
		-ms-transition: all 0.5s linear;
		transform-style: preserve-3d;
		transition: all 0.5s linear;
}

.f1_container:hover .f1_card, .f1_container.hover_effect .f1_card {
																-webkit-transform: rotateY(180deg);
																-moz-transform: rotateY(180deg);
																-o-transform: rotateY(180deg);
																-ms-transform: rotateY(180deg);
																transform: rotateY(180deg);
																-webkit-box-shadow: -1px 1px 1px #aaa;
																-moz-box-shadow: -10px 10px 10px #aaa;
																box-shadow: -1px 1px 1px #aaa; 
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.face.back {
		display: block;
		-webkit-transform: rotateY(180deg);
		-webkit-box-sizing: border-box;
		-moz-transform: rotateY(180deg);
		-moz-box-sizing: border-box;
		-o-transform: rotateY(180deg);
		-o-box-sizing: border-box;
		-ms-transform: rotateY(180deg);
		-ms-box-sizing: border-box;
		transform: rotateY(-180deg);
		box-sizing: border-box;
		padding-bottom: auto; ;
		color: white;
		text-align: left;
		background-color: #aaa;
}


.clear {
	clear:left;
}

div#nav-logo {
			float:left;
			width:36%;
			overflow:none;
			margin-left:15%;
			/*background-color:yellow;*/
}


nav#home-nav ul {
			width:100%;
			overflow:auto;
			/*background-color:green;*/
			list-style: none;
			/*margin-left: 0;
			padding-left: 1em;
			text-indent: -1em;*/
}

nav#home-nav ul a {
				display:block;
				float:left;
				margin-right: 1.4em;
				padding: 0.2em;
				margin-left: 1.7em;
				margin-top: 1em;
				list-style: none;
				text-decoration:none;
				font-family: "Courier New", Courier, monospace;
				font-size: 1.5em;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #555555;
				/*background-color:orange;*/				
}


#home-nav li:after {
				content: "+ ";
				float:left;
				padding-top: 2.0em;		
				font-family: "Courier New", Courier, monospace;
				font-size: 1em;
				color: #555555;
}

#home-nav li:last-child:after {
							content: none;
}

#home-nav li:first-child {
						margin-left: -3em;
						padding-left:0.5em;
}

#align {
	margin-left: 2.4em;
}

nav#home-nav ul a:hover {
				display: block;
				background-color: #666666;
				color: white;								
}

.clear {
	clear:left;
}

article#firm-logo{
				width:100%;
				overflow:auto;
				margin-top:20%;
				/*background-color:grey;*/
}

article#firm-logo img {
					float:left;
					height:225px;
					padding-right: 5%;
}

article#firm-logo p {
					float:right;
					padding-top:6.5em;
					margin-top:7%;
					margin-right: 1em;
					padding-left:1.2%;
}

article#firm-logo p {
				font-family: Courier;
				font-size: 0.9em;
				line-height: 1.35em;
				text-align: justify;
				color: #333333;
}

.clear {
	clear:left;
}

#info h1 {
	display: block;
	position: absolute;
	top: 25px;
	right: -590px;
	padding: 0.3em;
	background-color:white;
	-webkit-transform: rotate(90deg) translateX(20px); 
    -moz-transform:    rotate(90deg) translateX(20px);
    -ms-transform:     rotate(90deg) translateX(20px);
    -o-transform:      rotate(90deg) translateX(20px); 
    transform:         rotate(90deg) translateX(20px); 
    -webkit-transform-origin: 1.8em .5em;
    -moz-transform-origin:    1.8em .5em;
    -ms-transform-origin:     1.8em .5em;
    -o-transform-origin:      1.8em .5em;
    transform-origin:         1.8em .5em;
    }
    
#info h1 {
		font-family: "Courier New", Courier, monospace;
		color: #555555;
		font-size: 0.75em;
}
		
	
span {
		display: inline;
		padding-right: 0.1em;
		padding-left: 0.1em;
		color: #cc0000;
}

