html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.centered { 
  margin:0 auto;
  width:960px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* here starts my code */


body {
  background-color:#f7f6f1;
  /*position:static;*/
  width: 100%;
}

#upper-wrapper {
  background-color:#eef4d9;
  height: 120px;  
}

#site-header {
  width: 960px;
  margin-left:auto;
  margin-right:auto;
  /*background-color:blue;*/
}

#site-header h1 a {
  /*display:block;*/
  background:url(images/logo.png) no-repeat top left;
  height:123px;
  width:306px;
  position:absolute;
  text-indent:-9999px;
}

#top-nav {
  display: block;
  float: right;
  padding: 10px;
}

nav#main-menu {
  background-color:#744918;
  /*width:100%;*/
  padding:5px 0px;
}

#main-menu ul {
  width:960px;
  margin:0px auto;
  /*background-color:green;*/
}

#main-menu li{
  display:inline-block;
  padding: 0px 20px 0px 0px;
} 

#dcolor {
  text-decoration:none;
  text-transform:uppercase;
  color:#b7c850;
  font-family: "Arial";
}

.rcolor {
  text-decoration:none;
  text-transform:uppercase;
  color:white;
  font-family: "Arial";
}  

#content-wrapper {
  margin: 30px 0px 60px 0px;
  /*background-color:green;*/
}

#content {
  width:960px;
  /*background-color:yellow;*/
  overflow:auto;
  margin-right:auto;
  margin-left:auto;  
}

#page {
  margin-right: 30px;
  width: 500px;
  float:left;
}

#page h1 {
  color: #744918;
  font: bold 40px "Monotype Corsiva";
}

#page h2 {
  padding: 10px 0px;
  color: #744918;
  font: bold 20px "Arial";
  text-transform: uppercase;
}

#page p {
  padding: 10px 0px;
  font:"Arial"
  font-size:14px
  line-height:4;
}

 #top-nav a, #top-nav, #sidebar a {
  color:#744918;
  text-decoration:none;
  font-family:"Arial";
  font-size:15px;
  padding:10px;
 }
 
#sidebar {
  padding:20px;
  margin-top:20px;
  width:300px;
  float:right;
}

#sidebar h1 {
  padding: 10px 0px;
  color: #744918;
  font: bold 20px "Arial";
  text-transform: uppercase;
}

#sidebar img {
  float:left;
  margin: 10px 0px 0px 10px;
}

#footer-wrapper {
  background-color:#744918;
  height:120px;
}

#site-footer {
  width:960px;
  margin:0px auto;
}  

#footer-contact {
  float:left;
  width:130px;
}

#footer-follow {
  float:right;
  padding-right:30px;
  width:250px;
}

#footer-follow img {
  /*display:inline;*/
  float:left;
}

#footer-follow h1, #footer-contact h1 {
  color:#cdc2ab;
  text-transform:uppercase;
  padding:10px 0px;
  font-family:"Arial";
}

#footer-contact p {
  color:#cdc2ab;
  font-size:12px;
  padding:10px 0px;
}